{% extends "main/base.html" %}
{% block content %}
    <h1>Select Flight</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Flight</th>
                <th scope="col">Airline</th>
                <th scope="col">Departure</th>
                <th scope="col">Arrival</th>
                <th scope="col">Date</th>
                <th scope="col">Book Now</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <th scope="row">{{ flight.flightNo }}</th>
                    <td>{{ flight.airline }}</td>
                    <td>{{ flight.departureLocation }}</td>
                    <td>{{ flight.arrivalLocation }}</td>
                    <td>{{ flight.flightDateTime }}</td>
                    <td><a href="#"><button type="button" class="btn btn-success">Book</button></a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}