{% extends "main/base.html" %}
{% block content %}
    <h1>Seat Selection for {{ flightInfo.airline }} flight {{ flightInfo.flightNo }}</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    {% for letter in letters %}
                        <th scope="col">{{ letter }}</th>
                    {% endfor %}
                </tr>
            </thead>
            {% for seat in seats %}
                <tr>
                    <td>{{seat.0.0}}</td>
                    {% for pos in seat %}
                        {% if pos.1 == mid %}
                            <td><div style="width:30px"></div></td>
                        {% endif %}
                        {% if pos in takenSeats %}
                            <td><label class="taken"for="f[{{ pos.0 }}][{{ pos.1 }}]"></td>
                        {% else %}
                            {% if pos.0 <= firstMark %}
                                <td><input class="first" type="checkbox" name="f[{{ pos.0 }}][{{ pos.1 }}]" id="f[{{ pos.0 }}][{{ pos.1 }}]" value="1"><label class="first"for="f[{{ pos.0 }}][{{ pos.1 }}]"></td>
                            {% elif pos.0 <= busMark %}
                                <td><input class="bus" type="checkbox" name="b[{{ pos.0 }}][{{ pos.1 }}]" id="b[{{ pos.0 }}][{{ pos.1 }}]" value="1"><label class="bus"for="b[{{ pos.0 }}][{{ pos.1 }}]"></td>
                            {% else %}
                                <td><input class="economy" type="checkbox" name="e[{{ pos.0 }}][{{ pos.1 }}]" id="e[{{ pos.0 }}][{{ pos.1 }}]" value="1"><label class="economy"for="e[{{ pos.0 }}][{{ pos.1 }}]"></td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button class="btn btn-outline-info" type="submit">Submit</button>
    </form>
    <style>
        table {
            background-color: #fff;
            width: 20vw;
        }
     
        input[type=checkbox] {
            display: none;
        }
     
        label.economy {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: #3498db;
        }
     
        input.economy:checked+label {
            background-color: #1f8528;
            border: 2px solid #2c3e50;
        }

        label.first {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: #f3be00;
        }
     
        input.first:checked+label {
            background-color: #1f8528;
            border: 2px solid #2c3750;
        }

        label.bus {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: #8104ca;
        }
     
        input.bus:checked+label {
            background-color: #1f8528;
            border: 2px solid #2c3e50;
        }

        label.taken {
            width: 30px;
            height: 30px;
            border-radius: 4px;
            background-color: #686868;
        }
    </style>
{% endblock content %}